body {
  font-family: sans-serif;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 10px;
}

fieldset label {
  font-weight: 700;
  font-size: 15px;
}

button {
  border: none;
}

p {
  margin: 0px;
}

select {
  width: 100%;
}

.bordered {
  border: 1px solid black;
}

.bordered:not(:last-child) {
  border-bottom: none;
}

.btn-submit {
  width: 100px;
  padding: 10px;
  margin: 10px 0px;
  background-color: #3898ec;
  color: #ffff;
}

.delivery-days {
  color: #4129c7;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3898ec;
}

.quote-box {
  margin: 10px 20px 0px 20px;
}

.route {
  color: #ffff;
  font-weight: 600;
  background-color: blue;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
